html {
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #204051;
    color: #cae8d5;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    top: 0px;
    margin-top: -2rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    position: sticky;
    width: 100%;
    z-index: 3;
    box-sizing: border-box;
    background-color: #204051;
    justify-content: flex-start;
    align-items: center;
}

.navbar-shadow {
    height: 4rem;
    width: 100%;
    box-shadow: 0px 5px 10px 0px #cae8d5;
    top: 0;
    margin-top: -1rem;
    position: sticky;
    z-index: 2;
    transition: 1s;
}

.navbar a {
    display: flex;
    padding: 10 20;
    color: #cae8d5;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.navbar a:first-child {
    margin-left: 20px;
}

.navbar a:hover {
    /* background-color: rgb(247, 141, 12); */
    color: #e02b2b;
    transform: scale(1.2, 1.2);
    transition: 400ms;
    border-radius: 10px;
}

#home {
    min-height: 100vh;
}

.heading-3 {
    text-align: center;
    margin: auto
}

.contact {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.row-reverse {
    flex-direction: row;
}

.row {
    transition: 1s;
    border: 1px solid 384a9ac;
}

.intro {
    background-color: #3b6978;
    color: #cae8d5;
}

.heading-1 {
    font-size: 4rem;
    color: white;
    transition: ease 1s;
}

.heading-2 {
    font-size: 3rem;
    color: white;
    transition: ease 1s;
    padding: 3rem 0 0 3rem;
    width: 40%;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: baseline;
    box-sizing: border-box;
    padding: 5%;

}

#home p {
    display: flex;
    word-spacing: .25rem;
    letter-spacing: .2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    transition: 1s;
}

#work p {
    display: flex;
    transition: 1s;
}

.image {
    height: 35vh;
    width: 28vh;
    border: 2px solid;
    position: relative;
    bottom: 7%;
    right: 7%;
    z-index: 1;
}

.image-bg {
    border: 5px solid;
    height: 35vh;
    width: 28vh;
    align-self: center;
}

hr {
    box-shadow: 0px 5px 20px #cae8d5;
}

.project {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    /* border: 1px solid #1a252f; */
    box-shadow: 5px 5px 5px #1a252f;
    border-radius: 5px;
    background-image: linear-gradient(to right, #204051, #00030770);
    margin: 3%;
    position: relative;
    padding: 2%;
}

.image-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.project-img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    border: 2px solid snow;
}

.card-area {
    flex-wrap: wrap;
    display: flex;
    padding: 3%;
    justify-content: space-around;
    align-items: stretch;
}

.project-card:hover {
    overflow-y: auto;
}

.card-area ::-webkit-scrollbar {
    display: none;
}

.project-card {
    /* align-self: center; */
    /* min-height: 50%; */
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 20px;
    overflow-y: hidden;
    background-color: #204051;
}

.project-card:hover {
    transform: translate(0, -10px);
    transition: ease .5s;
}

.project-card h4 {
    color: white;
}

.project-card p {
    text-decoration: none;
    font-family: monospace;
    font-size: 1.2rem;
    opacity: .6;
}

.tech-stack-2 {
    direction: rtl;
    font-size: .70rem;
    letter-spacing: 0px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project-card .git-logo>img {
    margin-right: 5px;
    height: 1.5rem;
    width: 1.5rem;
}

.project-details {
    box-sizing: border-box;
    margin: 20px;
    width: 45%;
}

.project-desc {
    box-sizing: border-box;
    background-color: #fff;
    color: #204051;
    border-radius: 3px;
    padding: 10px;
    font-size: 0.60rem;
    letter-spacing: 0px;
    line-height: 20px;
    opacity: .7;
}

.project-img:hover,
.project-desc:hover {
    opacity: 1;
    transform: scale(1.05, 1.05);
    transition: ease .5s;
}



.image:hover,
.heading-1:hover,
.heading-2:hover {
    /* not working */
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}

ul {
    list-style-type: square;
    margin-top: .5rem;
    margin-bottom: 1rem;
    column-count: 2;
}

li {
    margin-left: 10%;
    padding: .5rem;
}


.tech-stack {
    direction: rtl;
    align-self: flex-end;
    font-size: .7rem;
    padding-right: 20px;
    letter-spacing: 0px;
    color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.git-logo {
    align-self: flex-end;
}

.git-logo>img {
    margin-right: 1.25rem;
}

.git-logo>img:hover {
    background-color: #cae8d5;
    border-radius: .5rem;
}

.copyright {
    width: initial;
    height: 3.75rem;
    box-sizing: border-box;
    background-color: #1a252f;
    text-align: center;
    padding: 20px;
}

.social-icon {
    font-size: 2.5rem;
    letter-spacing: .6rem;
}

.social-icon a:hover {
    transform: scale(1.1, 1.1)
}

.social-icon a {
    color: #cae8d5;
    text-decoration: none;
}


/* .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: auto;
    background-color: rgb(247, 141, 12);
    border-radius: 50%;
    font-size: 20px;
    min-height: 30px;
    min-width: 30px;
    text-align: center;
    vertical-align: 50%;
}

.logo:hover {
    transform: rotate(360deg);
    transition: 300ms;
} */

@media only screen and (max-device-width: 480px) {
    .navbar {
        justify-content: center;
    }

    .col {
        width: 100%;
        align-items: center;
    }

    .row,
    .card-area {
        flex-direction: column;
    }

    .card-area {
        align-items: center;
        justify-items: stretch;
    }

    .row-reverse {
        flex-direction: column-reverse;
    }


    li {
        font-size: 1.75rem;
    }

    .project-desc {
        font-size: .8rem;
        padding: 5%;
    }

    .tech-stack {
        font-size: 1rem;
    }

    .project-card {
        width: 90%;
        padding: 5%;
    }

    .project-card p {
        font-size: 1rem;
    }

    .project {
        /* flex-direction: column; */
        background-image: linear-gradient(to bottom, #204051, #00030770);

    }
}

@media only screen and (min-device-width : 481) and (max-device-width: 992px) {
    .project-card {
        width: 45%;
        padding: 5%;
    }
}